body {
    color:  #444;
}
.home header, .home .subtitle {
    color: #fff;
}
h1 {
    font-size: 4em;
    font-weight: 400;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}
header, .subtitle, .sidenote {
    position: fixed;
    z-index: 4;
    font-weight: 400;
}
nav, .social {
    position: fixed;
    z-index: 15;
    font-weight: 400;
}
.content {
    z-index: 6;
}
section {
    width: 100%;
    height: 100%;
    display: block;
}
.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: currentColor;
}
@keyframes rotate360 {
  to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.spinner svg {
    width: 1em;
    height: 1em;
    -webkit-animation: 1s rotate360 infinite linear;
    -moz-animation: 1s rotate360 infinite linear;
    -ms-animation: 1s rotate360 infinite linear;
    -o-animation: 1s rotate360 infinite linear;
    animation: 1s rotate360 infinite linear;
    transform-origin-y: .475em;
}

.background {
    position: fixed;
    width: calc(100% - 300px);
    height: calc(100% - 300px);
    top: 150px;
    left: 150px;
    background-image: url('http://www.leonvogler.de/hero/Odessa.jpg');
    background-size: cover;
    background-position: 30% 50%;
    z-index: 0;
    transition: 600ms 200ms;
    opacity: 0;
}
.home .background, .first {
    opacity: 1;
    transition: 600ms;
}
.preview {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    z-index: -20;
    opacity: 0;
}
.preview.zoom {
    border-radius: 10px;
    max-width: 80% !important;
    max-height: 80% !important;
}
.preview-block {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.draggable {
    transition: none !important;
}

header {
    width: 100%;
    top: calc(50% - 50px);
    transition: top 600ms;
}
header div {
    /*margin-left: calc(60% - 3px);*/
    transition: margin 600ms;
}
header span {
    display: none;
    cursor: pointer;
}
header h1 {
    display: inline-block;
    cursor: pointer;
    transform: translateY(0);
    transition: 600ms cubic-bezier(0,0,0,1) 800ms;
    transition-property: transform, opacity;
    opacity: 1;
}

.home header div {
    /*margin-left: calc(50% - 165px);*/
    transition: margin 600ms;
}
.sidenote {
    opacity: 1;
    display: block;
    width: 400px;
    left: -125px;
    top: calc(50% - 15px);
    text-align: center;
    transition: left 600ms;
    transform-origin: 50% 50%;
    transform: translateX(0px) rotate(-90deg);
    transition: 600ms cubic-bezier(.1,.3,0,1.1) 900ms;
    transition-property: transform, opacity, left;
}
.subtitle {
    opacity: 1;
    top: calc(50% + 50px);
    width: calc(35% - 100px);
    max-width: 720px;
    transition: 600ms cubic-bezier(.1,.3,0,1.1) 900ms;
    transition-property: transform, opacity, top;
}
nav, .subtitle, .social {
    left: 60%;
    transition: 600ms;
    transition-property: transform, opacity, left;
}
.home nav, .home .subtitle, .home .social, header {
    left: calc((100% - 150px) * .618);
    transition: 600ms;
    transition-property: transform, opacity, left;
}
.avatar {
    position: absolute;
    left: calc(60% + 45px);
    top: calc(50% - 125px);
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    background-image: url('https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/12342810_10205474541363039_3939316723991056975_n.jpg?oh=d2305ef07f58ff2d14e571222f55f89d&oe=594FB27C');
    background-size: 200%;
    background-position: 65% 15%;
    border-radius: 100px;
    transition: 300ms;
    z-index: 100;
}
.home .avatar {
    left: calc(50% - 5px);
    transition: 300ms;
}
.about .avatar {
    left: 60%;
    top: calc(50% - 170px);
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 300ms;
}

nav {
    top: 65px;
}
li {
    float: left;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    transform: translateY(0px);
    opacity: 1;
}
.social {
    bottom: 65px;
}
.copyright {
    position: fixed;
    display: none;
    font-size: .7em;
    padding: .3em 0;
}
.social li a {
    display: block;
    fill: currentcolor;
    transform: translateY(0px);
    opacity: 1;
}
nav li:nth-child(1), .social li:nth-child(1) a {
    transition: 600ms cubic-bezier(.1,.3,0,1.1) 1000ms;
    transition-property: transform, opacity;
}
nav li:nth-child(2), .social li:nth-child(2) a {
    transition: 600ms cubic-bezier(.1,.3,0,1.1) 1130ms;
    transition-property: transform, opacity;
}
nav li:nth-child(3), .social li:nth-child(3) a {
    transition: 600ms cubic-bezier(.1,.3,0,1.1) 1260ms;
    transition-property: transform, opacity;
}
#in a {
    width: 20px;
}
#dr a {
    width: 21px;
}
#ml a {
    width: 24px;
}
.content-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
.content {
    width: calc(50% - 200px);
    position: absolute;
    clear: both;
    left: -200px;
    opacity: 0;
    transition: 600ms;
    display: none;
}
.photography .content.photography, .design .content.design, .about .content.about {
    left: 200px;
    opacity: 1;
    transition: 600ms;
}
.table {
    display:table;
    transition: 600ms;
}
.content.about {
    text-align: right;
    line-height: 2;
    letter-spacing: 1.4;
    text-transform: none;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #444;
    height: calc(100% - 20px);
}
.content.about p {
    display: table-cell;
    vertical-align: middle;
}
.content img, .preview {
    cursor: pointer;
}
.preview.zoom ~ .first .content img {
    cursor: default;
}
.blurry .social, .blurry header, .blurry nav, .blurry .sidenote, .blurry .subtitle {
    opacity: 0;
}
.content.photography img, .content.design img {
    max-width: 100%;
    max-height: calc(100vh - 80px);
    float: right;
    clear: both;
    margin: 100px 0 300px;
}
.content.photography img:last-child, .content.design img:last-child {
        margin-bottom: 100px;
    }
.social .outer {
    margin-top: -5px;
}
.outer {
    transition: 300ms;
    width: 0;
    position: absolute;
}
.inner {
    transition: 300ms;
    background-color: currentColor;
    height: 1px;
    width: 0;
    transform: translate(-50%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.home .inner {
    background-color: currentColor;
}
.no-transition {
    transition: 0 !important;
}
@media screen and (max-width: 2160px), (max-height: 1300px) {
    .background {
      background-image: url('hero/Odessa@0,5x.jpg');
      background-image: url('hero/IMG_2658.jpg');

    }
}
@media screen and (max-width: 1080px) and (max-height: 768px) {
    .background {
        background-image: url('hero/Odessa@0,25x.jpg');
        /* background-image: url('IMG_1449.jpg'); */
    }
}
@media screen and (max-width: 1080px), (max-height: 768px) {

    h1 {
        font-size: 3em;
    }
    .content {
        width: calc(50% - 100px);
        left: -100px;
    }
    .photography .content.photography, .design .content.design, .about .content.about {
        left: 100px;
    }
    .content.photography img, .content.design img {
        margin: 20px 0 300px;
    }
    .content.photography img:last-child, .content.design img:last-child {
        margin-bottom: 50px;
    }
}
@media screen and (max-height: 520px), (max-width: 1120px) and (max-height: 480px), (max-width: 720px) {
    .subtitle, .sidenote {
        display: none;
    }
}

@media screen and (max-width: 720px), (max-height: 520px) {
    .home header, header {
        top: 0px;
        padding: 5px 0;
        height: 30px;
        z-index: 100;
        left: 30px;
        color: currentColor;
    }
    .background {
      width: calc(100% - 200px);
      height: calc(100% - 200px);
      top: 100px;
      left: 100px;
    }
    header h1 {
        font-size: 1.2em;
        transition: transform 1000ms cubic-bezier(0,0,0,1) 20ms;
    }
    header, .social {
        -webkit-backdrop-filter: blur(20px) saturate(200%);
        background-color: rgba(240, 240, 240, .7)
    }
    .home header, .home .social {
        -webkit-backdrop-filter: blur(10px) saturate(100%);
        background-color: rgba(240, 240, 240, 0)
    }

    h1 {
        font-size: 2em;
    }

    .avatar {
        left: initial;
        top: initial;
        border-radius: 100px;
        transition: 300ms;
        margin: 0px 50%;
        transform: translate(-50%,-50%);
        z-index: 70;
    }
    .home .avatar {
        left: initial;
        top: initial;
        transition: 300ms;
    }
    .about .avatar {
        left: initial;
        top: initial;
        width: 100px;
        height: 100px;
        margin: 50px 50%;
        display: block;
        transition: 300ms;
        position: absolute;
        transform: translate(-50%,-50%);
    }
    nav, .home nav {
        right: 40px;
        left: initial;
        top: 0;
        z-index: 150;
    }
    .copyright {
        display: block;
        left: 30px;
    }
    .social, .home .social {
        bottom: 0;
        padding: 10px 20px;
        right: initial;
        left: initial;
        width: calc(100% - 40px);
        height: 20px;
    }
    .social ul {
        float: right;
    }
    li {
        margin-bottom: 1em;
    }
    .social li {
        margin-bottom: 0;
    }
    .first li {
        transform: translateX(10px);
    }
    nav ul {
        padding-top: .5em;
    }
    .content-container {
        padding-top: 100px;
        height: calc(100vh - 100px);
    }
    .content.photography, .content.design {
        width: calc(100% - 60px);
        text-align: left;
    }
    .content.about {
        width: calc(100% - 100px);
        text-align: left;
    }
    .photography .content.photography, .design .content.design {
        left: 30px;
    }
    .about .content.about {
        left: 50px;
        padding-bottom: 50px;
    }
    .content.about {
        height: initial;
    }
    .content.about p {
        vertical-align: initial;
        padding-top: 120px;
    }
    .outer {
        margin-top: 36px
    }
    .inner {
        height: 2px;
    }
}
@media screen and (max-width: 480px) {
    .content.photography, .content.design, .content.about {
        width: 100%;
        left: -10px;
    }
    .photography .content.photography, .design .content.design {
        width: 100%;
        left: 0px;
    }
    .about .content.about {
        margin-top: 50px;
        width: calc(100% - 20px);
        left: 10px;
    }
    .home header, header {
        height: 70px;
        left: initial;
    }
    header div, .home header div {
        margin-left: 10px;
    }
    nav, .home nav {
        right: initial;
        top: 40px;
    }

    .about .avatar {
        margin-top: 80px;
    }
    .social, .home .social {
        padding: 10px 0px;
        width: calc(100% - 0px);
    }
    .copyright {
        left: 10px;
    }
}
@media screen and (max-width: 340px) {
    .copyright .redundant {
        display: none;
    }
}
@media screen and (max-width: 282px) {
    header {
        height:  110px;
    }
    .about .content.about {
        margin-top: 90px;
    }
    .about .avatar {
        margin-top: 120px;
    }
    .social li:nth-child(2) {
        display: none;
    }

}
@media screen and (max-width: 240px) {
    .social li:nth-child(1) {
        display: none;
    }
}
/*FLOW*/
.flow header h1 {
    transform: translateY(-100px);
    opacity: 0;
}
.flow .social li a {
    transform: translateY(20px);
    opacity: 0;
}
.flow nav li {
    transform: translateY(-20px);
    opacity: 0;
}
.flow .sidenote {
    transform: translateX(-100px) rotate(-90deg);
    opacity: 0;
}
.flow .subtitle {
    transform: translateX(100px);
    opacity: 0;
}
.flow .dots {
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='#ffffff' %3E%3Ccircle cx='2' cy='2' r='1'/%3E%3C/g%3E%3C/svg%3E");
}
.flow .spinner {
    transition: 300ms;
}
